@font-face {
  font-family: "iconfont"; /* Project id 2281358 */
  src: url('iconfont.woff2?t=1728961277036') format('woff2'),
       url('iconfont.woff?t=1728961277036') format('woff'),
       url('iconfont.ttf?t=1728961277036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e676";
}

.icon-guanbi1:before {
  content: "\e660";
}

.icon-shangla:before {
  content: "\e797";
}

.icon-xiala:before {
  content: "\e6aa";
}

.icon-shezhi:before {
  content: "\e706";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-shuaxin:before {
  content: "\e8aa";
}

.icon-wenjianjia:before {
  content: "\e667";
}

.icon-wenjianjia1:before {
  content: "\e644";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-shoucang:before {
  content: "\e60d";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-fujianguanli:before {
  content: "\e634";
}

.icon-xiangmu:before {
  content: "\e60a";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-gonggao:before {
  content: "\e674";
}

.icon-jiaoseguanli:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e606";
}

